<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <span class="navbar-brand">EasyFund</span>
    </nav>
    <div class="nav-side-menu">
        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a><i class="fa fa-dashboard">Welcome USER</i></a>
                </li>
                <li data-toggle="collapse" data-target="#products" class="collapsed">
                    <a href="/investor/newList"><i class="fa fa-gift fa-lg"></i>New Campaign</a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed ">
                    <a href="/investor/investedList"><i class="fa fa-globe fa-lg"></i>Invested Campaign</a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed active">
                    <a href="/investor/requestList"><i class="fa fa-car fa-lg"></i>Requests</a>
                </li>
                <li data-toggle="collapse" data-target="#detailsCollapse" class="collapsed">
                    <a href="/logout"><i class="fa fa-user fa-lg"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="my-container">
        <main class="my-form">
            <div class="cotainer">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Responce for Payment Request</div>
                            <div class="card-body">
                                <form name="my-form">
                                    <div class="form-group row">
                                        <label for="responce" class="col-md-4 col-form-label text-md-right">Action</label>
                                        <div class="col-md-6">
                                          <form>
                                            <div class="form-group">
                                              <select class="form-control" id="responce" name="responce">
                                                <option value="1">Approve</option>
                                                <option value="2">Reject</option>
                                              </select>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    <div class="form-group row">
                                        <label for="public_address"
                                            class="col-md-4 col-form-label text-md-right">Public Address</label>
                                        <div class="col-md-6">
                                            <input type="text" id="public_address" class="form-control"
                                                name="public_address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="private_key" class="col-md-4 col-form-label text-md-right">Private
                                            Key</label>
                                        <div class="col-md-6">
                                            <input type="text" id="private_key" class="form-control" name="private_key">
                                        </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="button" class="btn btn-primary" onclick="respond()">
                                            Donate
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>


        function respond() {

            $.post("/investor/respondForm",
                {
                    reqID: <%=id%>,
                    action: document.getElementById('responce').value,
                    publicAddress: document.getElementById('public_address').value,
                    privateKey: document.getElementById('private_key').value,
                },
                function (data, status) {
                    if (data.status == true) {
                        window.location.href='/investor/requestList';
                    } else {
                        alert("Registration failed");
                    }
                });
        }
    </script>
</body>

</html>